body {
  background-color: #ffe4e9;
}

.jumbotron {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.form-group {
  max-width: 400px;
  padding: 20px;
  margin: auto;
}

.btn {
  margin: 10px 0;
}

.message {
  text-align: center;
  font-weight: bold;
  display: none;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
